
/*bronnen
https://nourished.nl/
https://intagrate.io/2020/08/how-to-embed-an-instagram-feed-into-any-website/
https://www.w3schools.com/howto/howto_js_slideshow.asp
https://dev.to/leonardoschmittk/how-to-make-a-star-rating-with-js-36d3
https://codepen.io/chrisjonesio/pen/OmzXdd
*/


body {
    width: 100%;
    height: auto;
    background-color: #f7f0e4;
    margin: 0;
}

header{
    position:relative;
    width: 100%;
    height: 50%;
    margin-bottom: 2em;
}

ul{
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2em;
    line-height: 3em;
    color:#545353;
}

li {
    line-height: 2.5em;
}

h2 {
    font-family: 'Lora',Georgia,Times New Roman,serif;
    font-size: 4.5em;
    font-weight: 300;
    color:#545353;

}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3.5em;
    color:#545353;
}

h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3.5em;
    color:#545353;
}

p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    line-height: 1.5em;
    color:#545353;
}

ul{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    line-height: 1.5em;
    color:#545353;
    list-style: none;
}

a{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    text-decoration: underline;
    color:#545353;
}

a:visited{
    color:#ce423b;
    font-style: italic;
}

a:hover{
    font-weight: 800;
}

a:active{
    color:#ce423b;
}



input {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    color:#545353;
    font-weight: 200;
    margin:0 0 0 1em;
}

button{
    cursor: pointer;
}

button:visited{
    color:#ce423b;
    font-style: italic;
}

button:hover{
    font-weight: 800;
}

button:active{
    color:#ce423b;
}

img{
    animation:  laden 5s;
}


@keyframes laden{
    0% {opacity: 0;}
    50% {opacity: 30;}
    100% {opacity: 100;}
}


/* tekst boven */
.melding{
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: flex-start;
    background-color: #d8c5a4;
    border: 1px solid #979797;
    padding: 0 0 1em 2em;
}

.melding p{
    animation: textverander 2s linear;
}

@keyframes textverander {
    0% {
        
        transform: translateX(-20em);
    }

    20% {
        transform: translateX(-15em);

    }

    60% {
        transform: translateX(-10em);

    }

    80% {
        transform: translateX(-5em);

    }

    100% {
        transform: translateX(0em);
    }
    
}

/*nav*/
nav{
    position: fixed;
    z-index: 2;
    top:10em;
    width: 100%;
    height:10em;
    display: flex;
    justify-content: flex-start;
    background-color: #f7f0e4;
    box-shadow: 0 0 10px 0 #979797
}

.burgermenu{
    position: relative;
    top:3em;
    left:2.5em;
    width: 5em;
    height: 3em;
}

.burgermenu-stokkie{
    display: block;
    position: absolute;
    width: 5em;
    height: 0.5em;
    background-color: #545353;
}

.burgermenu-stokkie:nth-of-type(1){
    top:0;
}

.burgermenu-stokkie:nth-of-type(2){
    top:50%;
}

.burgermenu-stokkie:nth-of-type(3){
    top:99%;
}


nav img{
    position: absolute;
    left: 8em;
    height: 10em;
}

nav a:visited{
    color:#545353;
}

nav a {
    position: absolute;
    top: 1em;
    right: 5em;
}

nav svg{
    position: absolute;
    top: 3em;
    right: 6em;
    width: 4em;
    height: 4em;
    animation: beweegwinkelmandje 3s alternate infinite ;
}

.inwinkelmand{
    position:absolute;
    display: flex;
    justify-content: left;
    right: 4em;
    top: 2em;
    height: 3em;
    width: 3em;
    background-color: #ce423b;
    border-radius: 2em;
}

.mandvisible{
    display:inline;
    visibility: visible;
}

.mandhidden{
    visibility: hidden;
}

.inwinkelmand p{
    margin: 0 0 0 0.6em;
    font-size: 2em;
    color:#f7f0e4;
    font-weight: 400;
}

@keyframes beweegwinkelmandje{
    0% { transform:translateX(0);}
    100% { transform:translateX(2em);}
}

 /* header*/
header{
    position: relative;
    top:15em;
}
header article {
    position: relative;
    overflow: hidden;
}

header  article  img{
    height: 60em;
}

header h2{
    color: white;
    position: absolute;
    left: 2em;
    bottom: 6em;
    font-family: Lora,Georgia,Times New Roman,serif;
    animation: tekstkleur 2s;
}

header a{
    color: white;
    position: absolute;
    left: 8em;
    bottom: 8em;
    font-size: 2.5em;
    background-color: #ce423b;
    padding: 1em 3em 1em 3em;

}


header a:visited{
    color:#545353;
    font-style: italic;
    background-color: #f7f0e4;
}

header a:hover{
    font-weight: 800;
}

header a:active{
    color:#545353;
    background-color: #f7f0e4;
}


header article:last-of-type{
    position:absolute;
    left:25em;
    bottom:1.5em;

}

header article:nth-of-type(2) span {
    display: inline-block;
    cursor: pointer;
    margin:0 0.5em;
    height: 1.5em;
    width: 1.5em;
    background-color: #ce423b;
    border-radius: 50%;
}
  

header article:nth-of-type(2) span:hover {
    height: 2em;
    width: 2em;
}


@keyframes tekstkleur{
    0%{color:#ce423b;}
    40%{color:#ce423b;}
    60%{color:#ce908d;}
    100%{color:white;}
}


/*main*/

main {
    position: relative;
    left:0;
    top:10em;
    bottom: 1em;
    width: 100%;
    height: auto;
}

main section{
    position:relative;
    left: 0;
}

/* 1e sectie*/

main section:first-of-type {
    top: 6em;
    width: 100%;
    height: 145em;
    bottom: 0;
}


main section:first-of-type img{
    position:absolute;
    left:0;
    right:0;
    top:0;
    width: 100%;
    height: 80em;
}

main section:first-of-type h1{
    visibility: hidden;
}

main section:first-of-type h2{
    position:absolute;
    left:0.5em;
    bottom:10em;
    width:80%;
    font-weight: 600;
    text-align: left;
}

main section:first-of-type p{
    position:absolute;
    left:1em;
    bottom:5.5em;
    width: 80%;
    text-align: left;
    line-height: 1.5em;
}

main section:first-of-type a{
    position:absolute;
    left:1em;
    bottom:4em;
    text-align: left;
    color:#545353;
}

main section:first-of-type a:hover{
    position:absolute;
    left:1em;
    bottom:4em;
    text-align: left;
    color:#545353;
    text-decoration: none;
}



/* 2e sectie*/

main section:nth-of-type(2) {
    display: flex;
    justify-content: start;
    width:100%;
    height:82em;
    background-color: white;
}

.carousel-gerelateerd {
    position:relative;
    top: 10em;
    left: 0em;
    margin: 0 0.5em 0 3em;
    padding: 1em;
    width:70%;
    height:70em;
    display: none;
}


.hidden-gerelateerd{
  display: none;
}

.visible-gerelateerd{
    display: block;
    animation: fadeVisibility 0.5s;
}


main section:nth-of-type(2) article h3 {
    position:absolute;
    bottom: 4.2em;
    max-width: 15em; 
}

main section:nth-of-type(2) article img {
    position:absolute;
    width:100%;
    height:50em;
    top:0;
    left:0em;
}

main section:nth-of-type(2) article p:nth-of-type(1) {
    position:absolute;
    font-family: sans-serif;
    bottom:3em;
    font-weight: 200;
}

main section:nth-of-type(2) article p:nth-of-type(2) {
    position:absolute;
    bottom:.5em;
    font-weight: 800;
    
}

main section:nth-of-type(2) h2 {
    position: absolute;
    text-align: left;
    left:1em;
    width:80%;
    height:auto;
}

#vorigegerelateerd, #volgendegerelateerd{
    position: absolute;
    top:50%;
    width: 3em;
    height: 3em;
    padding: 1em 1em 1em 1em;
    background-color: #ffffff;
    color:#545353;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    border: none;
}

#volgendegerelateerd{
    right: 0;
}


/* 3e sectie*/
/* top - right - bottom - left*/

main section:nth-of-type(3) {
    display: flex;
    justify-content: start;
    top: 5em;
    width: 100%;
    height: 110em;
    overflow: hidden;
}

main section:nth-of-type(3) h2 {
    position: absolute;
    left:0.5em;
    text-align: left;
    width:80%;
    height:auto;
}


.carousel-journal{
    position:relative;
    top:10em;
    left:-1em;
    margin: 0 0.5em 0 0.5em;
    padding: 1em;
    width: 80%;
    height:105em;
    display: none;
}

.hidden-journal{
    display: none;
}
  
.visible-journal{
    display: block;
    animation: fadeVisibility 0.5s;
}


main section:nth-of-type(3) img{
    position:absolute;
    width:100%;
    height:70em;
}

main section:nth-of-type(3) article h3 {
    position:absolute;
    left:2em;
    font-weight: 200;
    font-size: 3em;
    bottom: 8em;
    width: 80%;
}

main section:nth-of-type(3) article p {
    position: absolute;
    left:2em;
    font-weight: 600;
    font-size: 3em;
    bottom: 5em;
    width: 80%;
}

main section:nth-of-type(3) a{
    position:absolute;
    left:2em;
    bottom: 3em;
    text-align: left;
    width: 80%;
}

#vorigejournal, #volgendejournal{
    position: absolute;
    top:50%;
    width: 4em;
    height: 4em;
    padding: 1em 1em 1em 0.5em;
    background-color: #f7f0e4;
    color:#545353;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    border: none;
}

#volgendejournal{
    right: 0;
}

/*4e sectie*/

main section:nth-of-type(4) {
    display: flex;
    justify-content: start;
    top: 5em;
    width: 100%;
    height: auto;
    bottom: 0;
    overflow: hidden;
}

main section:nth-of-type(4) h2 {
    position: absolute;
    left:0.5em;
    text-align: left;
    width:100%;
    height:auto;
}

main section:nth-of-type(4) article{
    position:relative;
    top:10em;
    left:0em;
    right:2em;
    margin: 0 1em 0 1em;
    padding: 1em;
    width:50%;
    height:50em;
}




/* shop*/
.breadcrumb {
    position: relative;
    background-color: violet;
    height: 2em;
    width: 100%;
}

.mascara{
    position: relative;
    top:20em;
    width: 100%;
    min-height: 20em;
    height: auto;
    left:0;
}


.mascara article:nth-of-type(1) {
    position: relative;
    width: 100%;
    height: 180em;
}

.mascara article:nth-of-type(1) h2{
    position: absolute;
    bottom:14em;
    left:1.5em;
}

.mascara article:nth-of-type(1) p{
    position: absolute;
    left:2.5em;
}

.mascara article:nth-of-type(1) p:nth-of-type(1){
    position: absolute;
    bottom: 17em;
}

.mascara article:nth-of-type(1) p:nth-of-type(2){
    position: absolute;
    bottom:11em;
    font-weight: 700;
}

.mascara article:nth-of-type(1) img{
    width: 100%;
    height: 100em;
}



.quantityselector{
    position: absolute;
    display: flex;
    left: 12%;
    bottom:22em;
    justify-content: space-evenly;
    background-color: white;
    width: 75%;
    height: 10em;
}


#mand{
    position: absolute;
    left: 2.5em;
    bottom: 2em;
    border: none;
    color: white;
    font-size: 3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #ce423b;
    padding: 0.8em 2.5em;
}


/*text stuk!*/

.mascara article:nth-of-type(2) {
    position: relative;
    width: 90%;
    left: 3em;
    min-height:40em;
    height: auto;
}

.mascara article:nth-of-type(2) p:nth-of-type(2){
    margin-bottom:2em;
}

.mascara .text p a{ 
    font-size: inherit;
}

.meerText {
    display:none;
}

.meerLezen {
    position: absolute;
    left: 0em;
    bottom: 0;
    border: none;
    font-size: 3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:#545353;
    background: none;
    text-decoration: underline;
}

.text{
    width: inherit;
}

.text .meerText {
    display: inline;
  }


.text .meerText  {
    display: none;
  }


/*icoontjess*/
.mascara article:nth-of-type(3) {
    position: relative;
    display:flex;
    justify-content: space-evenly;
    top:2em;
    left: 3em;
    width: 90%;
    height:25em;
}

.mascara article:nth-of-type(3) svg{
    width:20%;
    height: auto;
    animation: groter 5s;
}

@keyframes groter{
    0% {
        width:0%;
        height: auto;
        opacity: 0;
    }

    40% {
        width:10%;
        height: auto;
        opacity: 40;
    }

    60% {
        width:10%;
        height: auto;
        opacity: 40;
    }


    100% {
        width:20%;
        height: auto;
        opacity: 100;
    }
}


/*review*/
.reviewblok {
    position:relative;
    display: flex;
    justify-content: start;
    margin: 0 0 20em 0;
    top: 23em;
    left: 5.5em;
    width: 80%;
    height: 70em;
    border: 2px solid #545353;
}

.reviewtext{
    position:relative;
    top:5em;
    left:5em;
    margin: 0 0.5em 0 0.5em;
    padding: 1em;
    width: 70%;
    height: 105em;
    display: none;
    
}

.reviewtext p {
    text-align: center;
    font-size: 2.5em;
    
}

.hidden-review{
    display: none;
}
  
.visible-review{
    display: block;
    animation: fadeVisibility 0.5s;
}


#vorigereview, #volgendereview{
    position: absolute;
    bottom:18em;
    width: 3em;
    height: 3em;
    padding: 1em 1em 1em 1em;
    background: none;
    color:#545353;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    border: none;
}

#volgendereview{
    right: 0;
}

/*sterretjes*/
.review{
    position: relative;
    left: 3.5em;
    top: 27em;
    width: 75%;
    height: 13em;
}

.sterretjes {
    position:relative;
    margin: 0 0 1.5em 3em;
    display: flex;
    justify-content: left;
    width: 18em;
    height: 3em;
}


.ster {
    margin: 1em 0 0 0;
    font-size: 3em;
    cursor: pointer;
    color: #ce423b;
}

#basedon{
    position:absolute;
    bottom: 0em;
    right:1em;
    text-align: right;
} 
 
 

/*nieuwsbrief*/

.newsletter {
    background-image: url("images/footer.png");
    background-repeat: no-repeat;
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height:50em;
}

.newsletter div {
    position:absolute;
    left:5em;
    bottom:5em;
    background-color: white;
    align-items: center;
    width:50em;
    height:40em;
}

.newsletter h3{
    margin: 1em 0 0 1em;
}

.newsletter p{
    margin: 1em 0 0 1em;
}

.newsletter form{
    position: relative;
    display: block;
    top:3em;
    left:3em;
    height: 8em;
    width: 40em;
    border: 4px #545353 solid;

}


.newsletter input{
    position:absolute;
    display: inline-block;
    height: 90%;
    border: none;
    left:0;
    
}

.newsletter button{
    display: inline-block;
    right:0;
    position: absolute;
    background-color: #545353;
    border: none;
    font: 3em 'Lora',Georgia,Times New Roman,sans-serif;
    color: #ffffff;
    width: 3em;
    height: 100%;
}


/*footer*/

footer {
    position: relative;
    left:0;
    top:3em;
    bottom: 1em;
    width: 100%;
    height: 140em;
    background-color:#ffffff;
}


footer div:nth-of-type(1){
    position:absolute;
    width: 30%;
    left: 6em;
}

footer div:nth-of-type(2){
    position:absolute;
    width:30%;
    right:10em;
}

footer div:nth-of-type(3){
    position:absolute;
    width:80%;
    top:75em;
    left:6em;
}

footer div:nth-of-type(4){
    position:absolute;
    width:80%;
    bottom:40em;
    left:6em;
}

/* taal ding*/

footer div:nth-of-type(5){
    position:absolute;
    width:80%;
    bottom:15em;
    left:6em;
}

footer div:nth-of-type(5):hover div{
    display:block;
}

footer div:nth-of-type(5) h3{
    visibility: hidden;
}

footer div:nth-of-type(5) button{
    width: 15em;
    height: 8em;
    color: white;
    border: 1px solid black;
}

footer div:nth-of-type(5) div{
    display: none;
    position:absolute;
    min-width: 4em;
    background-color: blueviolet;
    z-index:1;
}

footer div:nth-of-type(5) div a{
    display:block;
    color: black;
    text-decoration: none;
    
}

footer div:nth-of-type(5) div a:hover{
    background-color:#f7f0e4;
}


ul {    
    margin: 0 0 0 -0.8em;
}

